Body{
background-color: rgb(115, 197, 197);
color: black;
font-family: Arial, Helvetica, sans-serif;
font: size 22px;
}

h1{
    font-size: 48px;
    font-weight: bold;
    text-align: center;
}

h2{
    color: rgb(54, 54, 165);
    font-size: 36px;
    text-decoration: underline;
    font-weight: bold;
    text-align: center;

}

h4{
    color: brown;
    font-family: 'Courier New', Courier, monospace;
}